<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td width="60%" valign="top"> <a href="http://www.delta.com"><img border="0" src="http://images.delta.com/images/emailprograms/wireframe_delta_logo.gif"></a>

</td>
    <td width="40%" align="left" valign="top">
			<img src="https://www.delta.com/barcode/LinearServlet?BARCODE=3JG1NFL4BSBY&HEIGHT=85&WIDTH=200&BAR_HEIGHT=1.8" border=0 >
		<br>
    </td>
  </tr>
  <tr>
    <td height="55"><font color="#003366" size="4" face="Arial, Helvetica, sans-serif"><b>Your
          Receipt and Itinerary</b></font></td>
    <td>
			<font size="1" face="Arial, Helvetica, sans-serif">(Scan this barcode
        	at a Delta Self-Service Kiosk to access your reservation.)</font>
	     </td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><font size="2" face="Arial, Helvetica, sans-serif">
			</font>
		<pre><font size="3" face="Arial, Helvetica, sans-serif">            <SPAN CLASS="traveler_name">YOUR NAME</SPAN>
            1120 MARIPOSA ST APT2
            SAN FRANCISCO CA 94107
</font></pre>
		<font size="2" face="Arial, Helvetica, sans-serif">
		<br><br>
					<br><br>
      Thank you for choosing Delta. We encourage you to review this information
      before your trip. If you need to contact Delta or check on your flight
      information, go to <a href="http://www.delta.com">delta.com</a>, call 800-221-1212
      or call the number on the back of your SkyMiles® card.<br>
      <br>
      Now, managing your travel plans just got easier. You can exchange, reissue and refund
      electronic tickets at <a href="http://www.delta.com">delta.com</a>. Take control and make
      changes to your itineraries at <a href="http://www.delta.com/itineraries">delta.com/itineraries</a>.
     </font>
     <br><br>
      <table width="100%" border="0" cellspacing="0" cellpadding="5">
  	<tr>
    	<td width="40%"><font size="2" face="Arial, Helvetica, sans-serif">Speed through the airport. Check-in online
    	for your flight.</font></td>
    	<td width="60%">
		<table border="0" cellpadding="0" cellspacing="0">
      		<tr>
        	<td width="12"><div align="right"><img align="middle" src="http://images.delta.com/delta/emailprograms/template/btn_dottedarrow_endcap.gif"></div>
        	</td>
        	<td bgcolor="e6ebef"><div align="center"><strong>
		<a href="http://delta.com/traveling_checkin/itineraries_checkin/requirements/index.jsp"><font face="Arial, Helvetica, sans-serif" color="#006699" size="1">
		Check-in</font><font face="Arial, Helvetica, sans-serif" color="#006699" size="1"></font></a></strong></div>
        	</td>
        	<td width="12"><img align="middle" src="http://images.delta.com/delta/emailprograms/template/btn_rt_endcap.gif"></td>
      		</tr>
    		</table></td>
  	</tr>
	</table>
      <hr>
      <font color="#003366" size="3" face="Arial, Helvetica, sans-serif"><b>Flight
      Information</b></font>
      <pre>
DELTA CONFIRMATION #:  RZ7EV4
TICKET #:  00623289198534
                                 Bkng                          Meals/ Seat/
Day Date       Flight     Status Class       City        Time  Other  Cabin
--- ----- --------------- ------ ----- ---------------- ------ ------ -------
Fri 23JUL DELTA 1557        OK     T   LV SAN FRANCISCO 640P           **
                                       AR LOS ANGELES   809P          COACH

Sun 25JUL DELTA 1124        OK     T   LV LOS ANGELES   700A           **
                                       AR SAN FRANCISCO 820A          COACH
</pre>
      <table width="100%" border="0" cellpadding="5" cellspacing="0">
        <tr>
			<td width="73%" valign="top">  <font size="1" face="Arial, Helvetica, sans-serif">Check
            your flight information online at delta.com or call the Delta Flightline at <b>800-325-1999</b>.
	<br><br><br><br>


            Baggage and check-in requirements vary by airport and airline, so please check with the operating carrier on your ticket.
            <br>
            Please review Delta's <a href="http://www.delta.com/traveling_checkin/itineraries_checkin/requirements/index.jsp">check-in Requirements</a> and <a href="http://www.delta.com/traveling_checkin/baggage/index.jsp">baggage</a> guidelines for details.
            <br><br>
            You must be checked in and at the gate at least 15 minutes before your scheduled departure time for travel inside the United States.<br>
            You must be checked in and at the gate at least 45 minutes before your scheduled departure time for international travel.
            <br>
            For tips on flying safely with laptops, cell phones, and other battery-powered devices, please visit
            <a href="http://SafeTravel.dot.gov"> http://SafeTravel.dot.gov</a>.
            <br><br>
            Do you have comments about our service?  Please <a href="http://www.delta.com/legal/delta_customer_commitment/index.jsp">email</a> us to share them with us.</font> </td>		  
	          <td valign="top">
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
		<img height="10" src="http://images.delta.com/images/emailprograms/vert_line.gif" width="6" nosend="1"><br>
	    </td>












        <td width="26%" valign="top"><font color="#000000" size="1" face="Arial, Helvetica, sans-serif">Key to Terms<br>
# - Arrival date different than departure date<br>
** - See <A href="https://www.delta.com/myitinerary/itinSearch.action?firstName=
MABEL&lastName=YOSHIMOTO&recLocId=RZ7EV4&searchType=confirmNumberRad">Seats</A> on delta.com<br>
*** - Multi meals<br>
*S$ - Multiple seats<br>
AR - Arrives<br>
B - Breakfast<br>
C - Bagels/Beverages<br>
D - Dinner<br>
F - Food available for purchase<br>
L - Lunch<br>
LV - Departs<br>
M - Movie<br>
R - Refreshments - Complimentary<br>
S - Snack<br>
T - Cold meal<br>
V - Snacks for Sale<br>
</font>
 </td>
        </tr>
      </table>
      <hr>
    </td>
  </tr>
  <tr>
    <td colspan="2"><font color="#003366" size="3" face="Arial, Helvetica, sans-serif"><b>Passenger
          Information</b></font><br>
      <pre>
<SPAN CLASS="traveler_name">YOUR NAME</SPAN></pre>
      <p><font color="#003366" size="3" face="Arial, Helvetica, sans-serif"><b>Billing
            Details</b></font> </p>
      <p><font color="#003366" size="3" face="Arial, Helvetica, sans-serif"><b>Receipt
            Information</b></font> </p>
      <pre>
Fare Details: SFO DL LAX51.16TA21A0SA DL SFO51.16TA21A0SA USD102.32END ZP SFO
LAX XF SFO4.5LAX4.5 

Fare:        102.32 USD           Form of Payment  VI************8105
Tax:          29.08 TX            
Total:       131.40 USD           

NON-REF/$CHANGE FEE</pre>
      
      <font size="2" face="Arial, Helvetica, sans-serif">Note: When using certain vouchers to purchase tickets, remaining
	credits may not be refunded. Additional charges and/or credits may apply and
	are displayed in the sections below.</font> <br><br>
      <font size="2" face="Arial, Helvetica, sans-serif">This ticket is non-refundable unless issued at a fully refundable fare. Any change to your itinerary may require payment of a change fee and increased fare. Failure to appear for any flight without notice to Delta will result in cancellation of your remaining reservation.</font>
            <p>
      <font face="Arial, Helvetica, sans-serif" size=2><b>Detailed Tax Information</b></font><br><br>
      <font face="Arial, Helvetica, sans-serif" size=2><b>Total Tax:  29.08 USD </b></font>
            	<pre>XF         9.00  ZP         7.40  AY         5.00  US         7.68
</pre>
      
      
      
      
      
     <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
         <hr>
          <td colspan="2" valign="top"><font color="#003366" size="3" face="Arial, Helvetica, sans-serif"><b>Ticketing
                Details</b></font> <br>
	                	<br>
            	<font size="2" face="Arial, Helvetica, sans-serif">Scan this barcode
            	at a Delta Self-Service Kiosk to access your reservation.</font>
	    	  </td>
        </tr>
         <tr>
	    	        <td width="15%">
				<img src="https://www.delta.com/barcode/LinearServlet?BARCODE=3JG1NFL4BSBY&HEIGHT=200&WIDTH=85&BAR_HEIGHT=1.9&ROTATE=90"  border=0 >
			</td>
			   	    <td width="85%" valign="top"><br>
            <pre>
TICKET #:  00623289198534
Issue Date:  06/17/10  Expiration: 06/17/11
Place of Ticket Issue:  LAXWEB
Issuing Agent Id:  DL/WW
Ticket Issue date:  17JUN10
Not Transferable</pre>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <hr>


	   <!-- marketing ads start-->
      <table width="100%" cellpadding="5" cellspacing="0">
  <tr valign="top"> 
    <td width="145"><div align="left"><font size="2" face="Arial, Helvetica, sans-serif">
Save money when you 
book your next <a href="http://trip.delta.com/hotel_searches/new?CID=1" target="_blank">car or hotel</a> at delta.com.</font><br> 
        <br>
    </div></td>
    <td width="8"> <div align="left"></div></td>
    <td width="145"><div align="left"><font size="2" face="Arial, Helvetica, sans-serif"><a
href="http://trip.delta.com/car_searches/new" target="_blank">Up to 20% off and earn 100 miles per day</a>, (200 miles per day for Medallion members).</font><br>
        <br>
    </div></td>
    <td width="15">&nbsp; </td>
<td width="145"> <font size="2" face="Arial, Helvetica, sans-serif"> <a
	href="http://hiltonworldwide.hilton.com/en/ww/promotions/hf_delta/index.jhtml" target="_blank">Hotel Search</a> by Hilton Worldwide.</font><br>
      <br>
    </td>

   <td width="8"><div align="left"></div></td>
   <td width="145"><div align="left"><font size="2" face="Arial, Helvetica, sans-serif">Up to 25,000 bonus miles. Plus, no annual fee for first year.

	<a href="https://www201.americanexpress.com/cards/Applyfservlet?csi=24/17006/b/218">Apply Now.</a>
	 </font></div></td>
  </tr>
  <tr valign="top">
    <td align="center"><div align="left"><a href="http://www.delta.com/skymiles/use_miles/transfer_miles/transfer_miles_lto/index.jsp" target="_blank"><img
	src="http://images.delta.com/delta/logos/delta_logo_trans.gif" alt="Delta Air Lines" width="142" height="30" border="0"></a><br>
    </div></td>
    <td> <div align="left"></div></td>
    <td valign="center" align="center"><div align="left"><a
href="https://book1.carrental.com/dcweb/app?service=page/DISStep1&pid=DeltaiSeats-Web&locale=en&iataNumberAvis=0129150H&iataNumberBudget=0033272C&awdNumber=K817646&bcdNumber=U093310&avisCoupon=MUAA095&budgetCoupon=MUAZ037"
	target="_blank"><img src="http://images.delta.com/delta/logos/hertz80x40.gif" alt="Hertz" width="80"
	height="40" border="0"></a><br>
    </div></td>
    <td> <div align="top" align="top"></div></td>
 <td valign="top"><div align="left"><a href="http://hiltonworldwide.hilton.com/en/ww/promotions/hf_delta/index.jhtml"
	target="_blank"><img src="http://images.delta.com/delta/logos/THF125x40.gif" width="125" height="40"
	alt="The Hilton Family" border="0"></a><br>
    </td>
  <td <div align="bottom"></div></td>
  <td valign="bottom" align="bottom"><div align="left"><a href="https://www201.americanexpress.com/cards/Applyfservlet?csi=24/17408/b/218"
	target="_blank"><img src="http://images.delta.com/delta/logos/amex_gold_clear_40.gif" width="80" height="40"
	alt="American Express" border="0"></a><br>
  </div></td>
  </tr>
</table>
   <!-- marketing ads end -->
	 <br />

  <tr>
    <td colspan="2">
      <hr>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<font color="#000099" size="3" face="Arial, Helvetica, sans-serif"><b>Conditions
of Carriage</b></font><br>
<br>
<font color="black" size="2" face="Arial, Helvetica, sans-serif"> Air transportation
on Delta and the Delta Connection carriers&reg; is subject to Delta's <a href="http://www.delta.com/legal/contract_of_carriage/index.jsp">conditions
of carriage</a>. They include terms governing, for example:</font>
<ul type="disc">
  <li><font color="black" size="2" face="Arial, Helvetica, sans-serif"><a href="http://www.delta.com/legal/index.jsp#INTLLMT">Limits
        on our liability</a> for personal injury or death of passengers, and
        for loss, damage or delay of goods and baggage. </font></li>
  <br><br>
  <li> <font color="black" size="2" face="Arial, Helvetica, sans-serif"><a href="http://www.delta.com/legal/index.jsp#BAGGAGE">Claim
        restrictions</a>, including time periods within which you must file a
        claim or bring an action against us</font></li>
  <br><br>
  <li><font color="black" size="2" face="Arial, Helvetica, sans-serif">Our right
      to <a href="http://www.delta.com/legal/index.jsp#changes">change
      terms</a> of the contract </font></li>
  <br><br>
  <li><font color="black" size="2" face="Arial, Helvetica, sans-serif"><a href="http://www.delta.com/legal/index.jsp#CHECK">Check-in
        requirements</a> and other rules establishing when we may <a href="http://www.delta.com/legal/index.jsp#refusal">refuse
        carriage</a></font></li>
  <br><br>
  <li><font color="black" size="2" face="Arial, Helvetica, sans-serif">Our rights
      and limits of our liability for <a href="http://www.delta.com/legal/index.jsp#delay">delay
      or failure to perform service</a>, including schedule changes, substitution
      of alternative air carriers or aircraft, and rerouting </font></li>
  <br><br>
  <li><font color="black" size="2" face="Arial, Helvetica, sans-serif">Our policy
      on <a href="http://www.delta.com/legal/index.jsp#OVERBOOK">overbooking
      flights</a>, and your rights if we deny you boarding due to an oversold
      flight</font></li>
</ul>
<font color="black" size="2" face="Arial, Helvetica, sans-serif"> These terms
are incorporated by reference into our contract with you. You may view these <a href="http://www.delta.com/legal/contract_of_carriage/index.jsp">conditions
of carriage</a> on delta.com, or by requesting
a copy from Delta.</font> <br>
      <hr>
      <font color="black" size="1" face="Arial, Helvetica, sans-serif">You have received
this e-mail because you elected to receive your Electronic Ticket receipt sent
to you via e-mail. If you would like to take advantage of other Delta e-mail
programs featuring special fares, promotions, information and flight updates,
please visit: <a href="http://www.delta.com/emailprograms">delta.com/emailprograms</a> or <a href="http://www.delta.com/notifications">delta.com/notifications</a></font>. <br>
      <br>
      <font size="1" face="Arial, Helvetica, sans-serif">COPYRIGHT INFORMATION
This email message and its contents are copyrighted and are proprietary products
of Delta Air Lines, Inc. &middot; Delta Blvd. P.O. Box
20706 &middot; Atlanta, GA 30320-6001. Any unauthorized use, reproduction, or
transfer of this message or its contents, in any medium, is strictly prohibited. <br>
<br>
This is a post only email. Please do not respond to this message.</font> </td>
  </tr>
</table>
