			<div style='margin-top:10px; margin-left:5px; font-size: 11px; font-family: "Arial"; color: #333333; width:570px' >
				<!--BookConfInfo -->
<DIV style="height:20px">
  <a title="United" href="http://www.united.com" target="_top">
  <img src='http://www.united.com/ual/asset/us-ualogo2.gif' alt='United Airlines' width='144' height='15' border="0"></a>
</DIV>
<DIV style="background-image:url(http://travel.united.com/ube/images/divider.png); height:1px; width:575px; font-size:0px"></DIV>
<DIV style="padding-left:10px; padding-bottom:5px; padding-top:30px; font-weight:bold; text-align:left; font-size:14px">
	united.com purchase details:
<script type="text/javascript" language="JavaScript">
if (!window.vsCustomItems)
{
	var vsCustomItems = new Array();
	var vsPageTitle = escape("United US-  Confirmation Page");
}
vsCustomItems[vsCustomItems.length] = new Array("v_pn", vsPageTitle);
</script></DIV>
	

<!-- Added for star awards -->
<DIV style="background-image:url(http://travel.united.com/ube/images/divider.png); height:1px; width:575px; font-size:0px margin-top:5px;"></DIV>
	
	<table cellspacing="0" cellpadding="0" class="tal">
			<tr>
				<td valign="top" class="pl10">		
					<div class="_fD fdDetails" style="width:460px">			
						
						
						
						<div class="prd-fxd-div pt5 bold">&nbsp;United</div>
						 	<div class="prd-fxd-div">
						 		Confirmation #
					 			K36F3O
						 	</div> 
						<div>
							<br>
						</div>
				       </div><!-- fD End  -->
       				</td>       				
       				<td style="width:260px; vertical-align:top;">
					
						<table width="100%">
													
							<tr>
			       					<td class="noWrap">
					 						<a class="hover ml10" href="javascript:parent.print()" >&gt;
											Print Itinerary</a>
				       				</td>
			       			</tr>
			       			
			       			<tr>
								<td class="noWrap">
												  	
				  					 <!-- and SessionHelper.loggedInUserTravelling --> 
				  						<a href="/ube/myitin.do" class="hover ml10" >&gt;
				  						View itinerary</a>
				  					
				  					
				 					
								
								</td>
							</tr>
							
							
			       			<tr>
			       					<td class="noWrap">
												<a class="hover ml10" href="http://www.united.com/easycheckinonline" >&gt;
												EasyCheck-in Online</a>
				       				</td>
			       			</tr>						
						</table>  
	       			      				
       				</td>
       			</tr>
       		</table>	
 <DIV style="clear:both; font-size:0px; line-height:0px; height:0px;"></DIV>
 
 
				<!-- BookConfInfo -->
				<!-- Itinerary.jsp -->
				












	
	



	
	



	
		
		
	






    
    
    
        



<!--
name	= Review Purchase & Confirm Itinerary
wire	= I30

used	= /review/_reviewBody.jsp
		= /booking/_booking.jsp 

link	= 
-->




<div id="flightinfo-header" style="font: 11px, sans-serif; color: #333333;width: 585;">





<div id="flightinfo" 	style="padding-right:20px;">
	<div 
		
			style="float:left; font-size:16px; color:#999999; padding-left: 15px;"
			
		>
		Flight info
	</div>
	
		
		
			<div style="width:570px; padding-left:14px; padding-top:3px; clear:both; float:none; text-align:left;" >
		
	
		<table id="flightTable" border="0" cellspacing="0" cellpadding="0" style="font-size: 11px; font-family: 'Arial';" >
			
				<tr>
					<td colspan="5" style="background: url(http://travel.united.com/ube/images/title_background.png); height:23px; padding-left:9px; font-weight:bold">
						<span>
							
							Fri,&nbsp;May&nbsp;6,&nbsp;2011San
						Francisco, CA (SFO)
						<img
						src=http://travel.united.com/ube/images/arrow.png
						width=12 >New York, NY (JFK) 
						</span>
					</td>
				</tr>
				<tr style="font-weight:bold; height:20px">
					<td style="width: 132px; padding-left:10px;" >Flight</td>
					<td style="width: 124px;" >Depart</td>
					<td style="width: 124px;" >Arrive</td>
					<td style="width: 77px;" >Cabin</td>
					<td style="width: 113px; text-align: right; padding-right: 10px;" >Seats</td>
				</tr>
				
					
						<!-- ube:flightSegment begin -->
						
						
						<tr style="vertical-align: top;" >
							
							<td style="padding-left: 10px; padding-bottom:15px;" >
									 	
	 							<img width="15" border="0" src="https://www.united.com/ual/asset/UA_logo.gif"/>
								United 0014<br>
								
							</td>
							<td>
								<span style="border-bottom: 1px dotted black;">SFO</span>
								04:03 PM
<br/>
								<span style="color:#999999;">Fri, May 6, 2010
</span>
							</td>
							<td>
								<span style="border-bottom: 1px dotted black;">JFK</span>
								12:32 AM
<br/>
								<span style="color:#999999;">Sat, May 7, 2010
</span>
							</td>
							<td style="padding-bottom:20px;" >
								
								Economy (K)
							</td>
							
							
							<!-- moved to equipment row -->
							 <!-- end of moved to equipment row -->
							<td style="padding-right: 10px; text-align: right;">
								
								
								
								
								<span style="font:11px/15px Arial, sans-serif;">29D</span>
								
									
									
										
									
								
								
								
								
								
								
								
								
								
									
								
							</td>
						</tr><!-- end of segment row -->
						
						<tr>
							<td colspan="5" >
								<div style="padding: 5px 15px 5px 0px; display: block; text-align: right;">
									Equipment:
									
										
										
											
											
											752
											
										
									 <!-- eqp. chooose end --> 
									&nbsp;|&nbsp;Duration:2h 9m &nbsp;|&nbsp;Non-stop&nbsp;|&nbsp;Fare code:
									
										
										
											KAO7GS
										
									<br/>
									Traveled miles:678&nbsp;|&nbsp;
									
									
									 						
										Award miles:678&nbsp;|
			    					
									&nbsp;No Meal Service
								</div><br>
							</td>
						</tr>
					
				

			

		</table>

				<table id="flightTable" border="0" cellspacing="0" cellpadding="0" style="font-size: 11px; font-family: 'Arial';" >
			
				<tr>
					<td colspan="5" style="background: url(http://travel.united.com/ube/images/title_background.png); height:23px; padding-left:9px; font-weight:bold">
						<span>
							
							Sun,&nbsp;May&nbsp;8,&nbsp;2011,New
						York, NY (JFK)
						<img
						src=http://travel.united.com/ube/images/arrow.png
						width=12 >San Francisco, CA (SFO) 
						</span>
					</td>
				</tr>
				<tr style="font-weight:bold; height:20px">
					<td style="width: 132px; padding-left:10px;" >Flight</td>
					<td style="width: 124px;" >Depart</td>
					<td style="width: 124px;" >Arrive</td>
					<td style="width: 77px;" >Cabin</td>
					<td style="width: 113px; text-align: right; padding-right: 10px;" >Seats</td>
				</tr>
				
					
						<!-- ube:flightSegment begin -->
						
						
						<tr style="vertical-align: top;" >
							
							<td style="padding-left: 10px; padding-bottom:15px;" >
									 	
	 							<img width="15" border="0" src="https://www.united.com/ual/asset/UA_logo.gif"/>
								United 0863<br>
								
							</td>
							<td>
								<span style="border-bottom: 1px dotted black;">JFK</span>
								05:25 PM
<br/>
								<span style="color:#999999;">Sun, May 8, 2010
</span>
							</td>
							<td>
								<span style="border-bottom: 1px dotted black;">SFO</span>
								9:10 PM
<br/>
								<span
							style="color:#999999;">Sun,
							May 8, 2010
</span>
							</td>
							<td style="padding-bottom:20px;" >
								
								Economy (K)
							</td>
							
							
							<!-- moved to equipment row -->
							 <!-- end of moved to equipment row -->
							<td style="padding-right: 10px; text-align: right;">
								
								
								
								
								<span style="font:11px/15px Arial, sans-serif;">29D</span>
								
									
									
										
									
								
								
								
								
								
								
								
								
								
									
								
							</td>
						</tr><!-- end of segment row -->
						
						<tr>
							<td colspan="5" >
								<div style="padding: 5px 15px 5px 0px; display: block; text-align: right;">
									Equipment:
									
										
										
											
											
											752
											
										
									 <!-- eqp. chooose end --> 
									&nbsp;|&nbsp;Duration:2h 9m &nbsp;|&nbsp;Non-stop&nbsp;|&nbsp;Fare code:
									
										
										
											KAO7GS
										
									<br/>
									Traveled miles:678&nbsp;|&nbsp;
									
									
									 						
										Award miles:678&nbsp;|
			    					
									&nbsp;No Meal Service
								</div><br>
							</td>
						</tr>
					
				

			

		</table>
	</div>
</div>



<div class="disc">
	
	
	
	
		
	
	
	<div style="width:511px;  padding-left: 20px;">
		
			<b style="font:11px/15px Arial, sans-serif;font-weight:bold">Check-in information</b><br>
			
			<br><span style="font:11px/15px Arial, sans-serif;">Please note that valid, government-issued photo identification must be presented at check-in.</span>
			
			
			
			
			
			






	
		
		
		
				
		   	
	
			
			
		
		
	</div>
</div>

</div>


				<!-- Itinerary.jsp -->
				






		
		
		




    
    
        



    	
	    
	    
    	



    	
	    


    
    
    
        


    
    
    
        


	
	
	    


	
	



		<div style="padding-left: 20px;padding-bottom: 10px;">
			<sp> </sp>
		</div>

<div id="FSNECONTAINER" class="m115" >
	<br>
	<div style="float: left; padding-left: 20px; font-size: 16px; color: #999999;">Review</div>
		
		
		<div id="_travelerReviewHTMLEmail" 
				
					style="width: 570px; padding-top: 3px; clear: both; float: none; text-align: left;  font-size: 11px; font-family: Arial; margin-left: 15px;"
					
				
			>
			
			<table border="0" cellspacing="0" cellpadding="0" style="font-size: 11px; font-family: 'Arial';">
				<tr style="font-weight: bold; height: 20px;">
					<td style="background: padding-top:5px; padding-bottom:5px; background:url(http://travel.united.com/ube/images/grayTableHeaderBg.gif) repeat-x; border-bottom:1px solid #d4dceb; height: 23px; font-weight: bold; width: 104px; padding-left: 10px; text-align: left;">
						Name
					</td>
					<td style="padding-top:5px; padding-bottom:5px; background:url(http://travel.united.com/ube/images/grayTableHeaderBg.gif) repeat-x; border-bottom:1px solid #d4dceb; font-weight: bold; width: 101px; text-align: left;">
						Frequent flyer
					</td>
					<td style="padding-top:5px; padding-bottom:5px; background:url(http://travel.united.com/ube/images/grayTableHeaderBg.gif) repeat-x; border-bottom:1px solid #d4dceb; font-weight: bold; width: 80px; text-align: left;">
						Ticket
					</td>
					<td style="padding-top:5px; padding-bottom:5px; background:url(http://travel.united.com/ube/images/grayTableHeaderBg.gif) repeat-x; border-bottom:1px solid #d4dceb; font-weight: bold; width: 105px; text-align: right;">
						Fare(s)
					</td>
					
					<td style="padding-top:5px; padding-bottom:5px; background:url(http://travel.united.com/ube/images/grayTableHeaderBg.gif) repeat-x; border-bottom:1px solid #d4dceb; font-weight: bold; width: 97px; text-align: right;">
						Additional&nbsp;&nbsp;&nbsp;</br>taxes and fees
					</td>
					<td style="padding-top:5px; padding-bottom:5px; background:url(http://travel.united.com/ube/images/grayTableHeaderBg.gif) repeat-x; border-bottom:1px solid #d4dceb; font-weight: bold; width: 83px; text-align: right; padding-right: 10px;">
						Fare subtotal(s)
					</td>
				</tr>
				
					
						
							
						
						
					
					
					<tr style="height: 25px;">
						
							
							
								<td style="padding-left: 10px; text-align: left;">
									<SPAN CLASS="traveler_name">YOUR NAME</SPAN>
								</td>
								<td style="text-align: left;">0314643298767820</td>
								<td style="text-align: left;">01621119427878687</td>
								<td style="text-align: right;">
									64.00USD
								</td>
								
								<td style="text-align: right;">
									10.70
									USD
								</td>
								<td style="padding-right: 10px; text-align: right;">
									74.70
									USD
								</td>
							
						
					</tr>
					
					
					
					<tr>
						<td style="padding-left: 10px;" colspan="6">
							<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 11px; font-family: 'Arial';">
								 
									<tr>
										<td width="25" valign="top" style="padding-top: 2px;">
											
												
													<img src="https://www.united.com/ual/asset/white-tick-mark.gif" alt="Complete">
												
												
											
										</td>
										<td valign="top">
											
												
													Secure Flight data complete
													<a href="http://www.united.com/page/genericpage/0,,52172,00.html?navSource=Dropdown07&linkTitle=itineraries">Review</a>
												
												
											
										</td>
									</tr>
								
								
							</table>
						</td>
					</tr>
					
				
			</table>
			<div style="border-top:1px solid #d4dceb; height: 1px; padding-bottom: 3px;" colspan="6"></div>
			
				<div style="float: left; color: #999999; padding-left: 10px;">
					Please review the <a href="javascript:showFareRules()">fare rules</a> for this itinerary.
					
				</div>
				<div style="padding-right: 10px; text-align: right; ">
					Fare total:
					74.70
					USD
				</div>
				<div style="clear:both;"></div>
			
		</div>
	
</div><!--outer box-->
<br>
				<!-- passenger details end here. -->
				<!-- PURCHASE SUMMARY -->
				




 





    		    	    
    	


	
	
	    








<script language="JavaScript" type="text/javascript"> 
	function getMyEReceipt(bookingRefId,PNRIndex)
	 {    	
	 	var url = "https://" + "travel.united.com" + "/ube/myEreceipt.do?bookingRefId="+bookingRefId;
		dialogWindow = window.open( url);                
	 }
	var vs_R40_Product_Price_Array = new Array();
	var vs_R40_Booking_Conf_Currency;
	var s40_vs_fix_switch = "Confirmation";
	var productPriceIndex = 0;
	document.write('<scr'+'ipt type="text/javascript" src="/ube/js/fix38_vsUpdates_in_40.js"><\/scr'+'ipt>');
</script>



	




	
	 



	
		
			
		
		
	


 


	
		
			
		
		
	



	
	
			
					
	
	
	

	

<div id="travelOption" 
   
		
			style="margin-left:15px; width: 570px;"
		
			
	 
	>

<div style="float: left; padding-left: 5px; padding-top: 20px; font-size: 16px; color: rgb(153, 153, 153);" >
					
						
							Purchase summary


						
						
					
				</div>
			
			
		
		
			
				<div style="float: right; color: rgb(153, 153, 153); padding-top: 20px; ">
					
						
						
						
					
				</div>


<div style="clear: both; "></div>

<div class='tablebox' >


 
	
	 
				
	


<table width='100%' cellspacing="0" cellpadding="0" border="0" id="table4"
	style="font-family: 'Arial'; font-size: 11px;"  >
	
	

	<tr style="font-weight: bold;">
		<td class="tableHeader" style="background: url(http://travel.united.com/ube/images/title_background.png); height: 23px; font-weight: bold; width: 164px; padding-left: 10px;">
			Product</td>
		<td class="tableHeader" style="background: url(http://travel.united.com/ube/images/title_background.png); height: 23px; font-weight: bold;  width: 193px; text-align: left;">
			
				
				
					Credit card:
				
			
		</td>
		<td class="tableHeader" style="background: url(http://travel.united.com/ube/images/title_background.png); height: 23px; font-weight: bold;  width: 103px; text-align: left;">
			Receipt</td>
		<td class="tableHeader" style="background: url(http://travel.united.com/ube/images/title_background.png); height: 23px; font-weight: bold;  width: 110px; text-align: right; padding-right: 15px;">
			Price</td>
	</tr>
	
 
	 
		
			<tr id="_var_tktPrice" style="height: 25px;" >
			
				
	         	  	<td style="text-align: left; padding-left: 10px;" >
	         	  		Ticket price
	         	  	</td>
	        	  
	        	 
	        
	        
			<!-- end -->
	 			
	          	
	              	<td>
	                    		American Express 
	                    		xxxxxxxxxx5024
	                  </td>
	               	<td >
	               	 		KZS783O
	               	</td>
				
	                  	
				 
	       		<td style="text-align: right; padding-right: 15px; font-weight: normal">
					
						
						
	                    	74.70&nbsp;
						 
					
	                USD
	        	</td>
	   		</tr>		
			<!-- for TI outside travel options -->			
			
				
			
				
		
</table>
	
		<div style="border-top:1px solid #d4dceb; padding-bottom: 3px;"></div>
	
	<div style="clear: both; font-size: 0px; line-height: 0px; height: 0px;"></div>
	
		<div class="grayHr pb50 tar pr15 itinerarytotal"  style="text-align: right; padding-right: 10px;">
			
				
				
					Ticket total:&nbsp;74.70&nbsp;USD
				
			
		</div>
	
</div>
<script>
	vs_R40_Booking_Conf_Currency = 'USD';
</script>
		<div class="grandtotalBorder"
		 style="border-top: 1px solid #d4dceb; margin-top: 50px;">
			
				<DIV 
					
						
							style="float: left; font-size: 14px; font-weight: bold; padding-left: 10px;"
						
		     			
		     		
				> 
				
					
					
						Itinerary total:
					
				 
				</DIV>
			
			<DIV 
				
					
						style="float: right; font-size: 14px; font-weight: bold; padding-right: 10px;"
					
	     			
	     		>
			
				
					Grand total: 
				
				
			 	 
			
     			
     			
     					74.70&nbsp;
     					USD
     			
     		
		</DIV>
		<div style="clear: both; font-size: 0px; line-height: 0px; height: 0px;"></div>
	 </div>
  </div> <!-- travelOption div ended -->
  <div style="clear: both; height: 2px;">&nbsp;</div>
 <!-- is enhancements valid? true  -->




				<!-- PAYMENT DETAILS -->
				
					










<!-- emailMode: true -->		
<div id="billing" 
	
	
		style="margin-left: 10px; padding-top: 25px; clear: both; float: none; text-align: left; font-size: 16px; font-family: 'Arial'; width: 570px;"
		  
	
	 	
 >
   
   	
	
	
		
		
			<div style="padding-left:10px; font-size:16px; color:#999999;">
				Billing / Delivery information
			</div>
		
		
		
	  		<div class="pt8 pb8" style="border-top:1px solid #D4DCEB; border-bottom:1px solid #D4DCEB;">
	  			<div 
				  	
					
						style="padding-left: 10px; font-size: 11px;"
						  
					
				  	
	  			>
				              <SPAN
				              CLASS="traveler_name">YOUR
				              NAME</SPAN><br>
320 PIONEER WAY
MOUNTAIN VIEW CA 94041

					
				</div>
			</div>
        
  
</div>



				
				<!--  hotels start here. -->
				




	
    
    
	


	
    
    
	


<DIV id="Ads" class="pl10" style="margin-left: 15px;" >
	  	
		
			<DIV style="clear:both; font-size:0px; line-height:0px; height:0px;padding-top:30px"></DIV>			
			<DIV style="background: url(http://travel.united.com/ube/images/Ads_title1.png) top left no-repeat; height:38px; width:573px">
			<div style="padding-top:10px; padding-left:10px; text-align:left; font-size:16px;  font-weight:bold; color:#666666;">
				Book your hotel</div>
			</DIV>
			  
		
	  	

		<DIV 
		  	
			
				style="width:570px; padding-left:14px; padding-top:3px; clear:both; float:none; text-align:left;"
				  
			
		  	
		>
		<TABLE cellSpacing="0" cellPadding="0" border="0">
        <TBODY>
                
        
	        
	        	
				  	
						
			            <TR style="font-weight:bold; height:20px; font-size: 11px;">
							<TD style="width:92px; padding-left:5px;">Location</TD>
							<TD style="width:94px;">Dates of stay</TD>
							<TD style="width:114px;">Hotel</TD>
							<TD style="width:97px; text-align:cente">Rating</TD>
							<TD style="width:173px; padding-left:10px;">Price</TD>
						</TR>
							  
						
				  	
				
				
				  	
					
						<TR style="height:20px; font-size: 11px;">
			                <TD style="padding-left:5px;">Seattle</TD>
			                <TD style="">08/28-08/29</TD>
							<TD style="font-weight:bold">The Belltown Inn</TD>
							<TD style="text-align:center">
								<img src='https://united.wwte1.com/eta/hotstar2.0.gif' alt="">
								
							</TD>
							<TD style="padding-right:10px;"><div>As low as USD106.63 per night<br>
							<div style="text-align:right; padding-top:5px; padding-right:20px;"><a href="http://united.wwte1.com/pubspec/scripts/eap.asp?eapid=11378-30001&amp;Lang=1033&amp;OVRD=3&amp;hotelid=2330513&amp;rfrr=-6477&amp;GOTO=HOTDETAILS&amp;indate=08/28&amp;outdate=08/29" target="_blank">
							  	
								
										<img src="https://www.united.com/ual/asset/btn_BookNow.png" alt="Book Now" width="89" height="18" />
									  
								
							  	
							</a></div></div></TD>
						</TR>
						  
					
				  	
				
				  	
					
						<TR style="height:20px; font-size: 11px;">
			                <TD style="padding-left:5px;">Seattle</TD>
			                <TD style="">08/28-08/29</TD>
							<TD style="font-weight:bold">Mediterranean Inn</TD>
							<TD style="text-align:center">
								<img src='https://united.wwte1.com/eta/hotstar2.5.gif' alt="">
								
							</TD>
							<TD style="padding-right:10px;"><div>As low as USD121.75 per night<br>
							<div style="text-align:right; padding-top:5px; padding-right:20px;"><a href="http://united.wwte1.com/pubspec/scripts/eap.asp?eapid=11378-30001&amp;Lang=1033&amp;OVRD=3&amp;hotelid=897598&amp;rfrr=-6477&amp;GOTO=HOTDETAILS&amp;indate=08/28&amp;outdate=08/29" target="_blank">
							  	
								
										<img src="https://www.united.com/ual/asset/btn_BookNow.png" alt="Book Now" width="89" height="18" />
									  
								
							  	
							</a></div></div></TD>
						</TR>
						  
					
				  	
				
				  	
					
						<TR style="height:20px; font-size: 11px;">
			                <TD style="padding-left:5px;">Seattle</TD>
			                <TD style="">08/28-08/29</TD>
							<TD style="font-weight:bold">W Seattle</TD>
							<TD style="text-align:center">
								<img src='https://united.wwte1.com/eta/hotstar4.0.gif' alt="">
								
							</TD>
							<TD style="padding-right:10px;"><div>As low as USD179.00 per night<br>
							<div style="text-align:right; padding-top:5px; padding-right:20px;"><a href="http://united.wwte1.com/pubspec/scripts/eap.asp?eapid=11378-30001&amp;Lang=1033&amp;OVRD=3&amp;hotelid=284304&amp;rfrr=-6477&amp;GOTO=HOTDETAILS&amp;indate=08/28&amp;outdate=08/29" target="_blank">
							  	
								
										<img src="https://www.united.com/ual/asset/btn_BookNow.png" alt="Book Now" width="89" height="18" />
									  
								
							  	
							</a></div></div></TD>
						</TR>
						  
					
				  	
				
							
			 
		
		
			 
		</TBODY>
		</TABLE>		
		</DIV>

	  	
		
			<div style="background-image: url(http://travel.united.com/ube/images/Ads_title2.png); height: 25px; width: 572px;">
				<div style="padding-top: 5px; padding-left: 10px; text-align: left;">
				<a href="javascript:void(0)">More hotels</a></div>
			</div>
			  
		
					
		
	  	
		
			<DIV style="padding-top:20px"></DIV>
			<!--  cars from here - start -->
			<!-- BEGING HERTZ + HILTON EMAIL CONTENT -->
<div class="Ads_title1"><div class="pt10 pl10 tal"><h4>Reserve your car with the United discount</h4></div></div>
<table>
	<tr>
		<td align="left" valign="middle"><div class="floatLeft pt5 tac image_place"><img src="https://www.united.com/ual/asset/new_hertz_ad_118x46.jpg" /></div></td>
		<td align="left" valign="top">
			<div class="floatLeft pt5 tal" style="padding-left: 8px;">
					<li style="list-style-type: none;">&#8226; Save up to 20% with the United discount and earn double miles</li>
					<li style="list-style-type: none;">&#8226; Additional savings on the weekends and rentals of 5 or more days</li>
					<li style="list-style-type: none;">&#8226; Plus, earn a <strong>1,000 mile</strong> booking bonus <a href="http://www.hertzft.com/united/conf/?utm_source=confirmation&utm_medium=email&utm_campaign=conf&navSource=United+US-Confirmation&navSource=Hertz+Ad">Reserve now</a></li>
			</div>
		</td>
	</tr>
</table>
<div class="clear pt5"></div>
<!-- END HERTZ + HILTON EMAIL CONTENT -->
			<DIV style="padding-top:20px"></DIV>
			<!--  cars from here - end -->
			<!--  Enahnce your travel experience  - start-->
			<!--  TM - SURVEY           -->
<link rel="stylesheet" type="text/css" href="https://www.united.com/ual/asset/surveyprintstyle.css" media="print">
<link rel="stylesheet" type="text/css" href="https://www.united.com/ual/asset/surveyscreenstyle.css" media="screen">

<div id="popupbox"> 
</div>

<SCRIPT LANGUAGE="JavaScript" SRC="https://www.united.com/ual/asset/surveycontrollerforhttps.js"></SCRIPT> 
<script>
var webAnalyticsPageTitle1 = document.title;//stay clear of webanalytics page title variable

surveycontrollerforhttps();
</script>
<!--  TM - END SURVEY           -->

<!-- BEGIN SLOGANS -->
<br/>
<div class="fN">
<h2>Enhance your travel experience</h2>
</div>
<table class="det" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr class="hdr"><td class="one" style="padding-bottom: 10px;"><img height="16" alt="" src="images/d.gif" width="1" /></td>
<td style="padding-bottom: 10px;"> </td>
</tr>
<tr class="odd">
<td align="center" class="one" style="padding-bottom: 10px;"><img alt="United Mileage Plus Visa" src="https://www.united.com/ual/asset/MP_visa_75x50.jpg"></td>
<td valign="middle" style="padding-bottom: 10px;"><b>United Mileage Plus<font size="1"><sup>&#174;</sup></font> Visa</b><br>
  Earn 30,000 miles, and 1 mile per eligible $1. Redeem with no blackouts. <a href="http://www.mpfamilyofcards.com/signature/?CELL=6YH6&linkTitle=Visa_30k_BConfirmEmail_1003">Apply now.</a>


<script language="JavaScript" type="text/javascript">
document.write('</td></tr>');
function runCACode() {
	if (typeof AdBkCode=='object') {
	//check country
		document.write('<scr'+'ipt type="text/javascript" src="https://www.united.com/ual/asset/commonsetgetdelCookies.js"><\/scr'+'ipt>'); 
	 	var testCnt = getCookie('UALLocaleCookie');  
 		var testCntSet = new Array(); 
		try {
 			testCntSet = testCnt.split('/');
 		}
 		catch (e){
 			testCnt = 'en/us';
 			testCntSet = testCnt.split('/');
 		}
  		if (testCntSet[1] == 'us') {
  			//us test		
			chkCADest(1);
		}			
	}
}

function chkCADest(chkUS) {
// check book code
	testBkVal=false;
	
//check us ipos
		if (chkUS==1) {
			chkDestCode = new Array('LHR','NRT','CDG','FRA','MEX','CUN','LGW','ICN','AMS','NAS','TPE','GDL','MBJ','SJD','HKG','KIX','SDQ','PVR','FCO','TLV','SJO','MAN','GRU','SAL','DUB','MAD','MUC','MNL','PEK','ZRH','MXP','PUJ','AUA','NGO','GUA','STI','SYD','PTY','EZE','KIN','LIM','PVG','SIN','BOG','CCS','SNN','CPH','MTY','AKL','BDA','SXM','BRU','BOM','GCM','PAP','SCL','POS','DUS','DEL','BKK','BJX','SVO','ATH','ARN','GIG','KEF','BCN','MGA','GYE','WAW','VIE','DXB','BGI','FPO','PLS','IST','MZT','BZE','JNB','VCE','UIO','SAP','TXL','LIS','PPT','MEL','GVA','MLM','LIR','GLA','MDE','EDI','PRG','CLO','ACA','BUD','ZIH','CAI','AMM','SGN','TGU','EIS','HEL','ANU','POP','KWI','CAN','STR','CZM','NCE','BNE','KBP','HAM','KUL','UVF','NAN','FUK','OSL','CUR','GEO','BHX','MAR','CMN','MHH','SKB','HYD','OKA','AGU','MAA','KRK','BFS','BLR','BAQ','MID','KHI','ZCL','SLU','BRS','VLN','NBO','MVD','LRM','OTP','LOS','STN','FLR','APW','CGN','GOT','HMO');
			testDestVal=false;
			for (j=0; j<chkDestCode.length;j++) {
				if (chkDestCode[j] == destCode) {
					testDestVal=true;
				}
			}
			
		adC="<tr class='odd'>";
		adC=adC+"<td align='center' class='one' style='padding-bottom: 10px;'><img alt='Purchase Foreign Currency' src='"+sHeader+"://www.united.com/ual/asset/currencyAd.gif'><\/td>";
		adC=adC+"<td valign='middle' style='padding-bottom: 10px;'>Buy foreign currency hassle free - great prices, without commissions, and delivered to your door.<br><a href='https://www.ezforex.com/login.asp?Affiliate=2851&WebUser=11905&navSource=confpage&linkTitle=currency"+destCode+"'>Buy now<\/a>.<\/td>";
		adC=adC+"<\/tr>";

		if (testDestVal == true) { 		
			document.write(adC);
		}			
	}
}
runCACode();
</script>
<tr class="odd">
<td align="center" class="one" style="padding-bottom: 10px;"><img alt="Access America" src="https://www.united.com/ual/asset/accessamerica.GIF"></td>
<td style="padding-bottom: 10px;">Protect your travel plans with <b>Trip Protector</b> offered by United with Access America. <a href="http://www.united.com/travelinsurance">Learn more.</a></td>
</tr>
<tr class="odd">
<td align="center" class="one" style="padding-bottom: 10px;"><img alt="United Easycheckin" src="https://www.united.com/ual/asset/easycheckin.GIF"></td>
<td style="padding-bottom: 10px;">Save time with EasyCheck-in Online. <a href="http://www.united.com/easycheckin">Find out more.</a></td>
</tr>
<tr class="odd">
<td align="center" class="one" style="padding-bottom: 10px;"><img alt="Mileage Plus Dining" src="https://www.united.com/ual/asset/mpdining.GIF"></td>
<td style="padding-bottom: 10px;">Dining opportunities to earn miles. <a href="http://mpdining.rewardsnetwork.com/bonus.htm?id=U847&detail=y&cm_mmc=UA-_-email-_-external-_-confirmation.emails.2.1.2010&linkTitle=DE_MPDining_BConfirmEmail_1003">Sign up now</a>.</td>
</tr>
</tbody>
</table>
<div class="foot"><img height="7" alt="" src="images/d.gif" width="1" border="0"></div>
			<!--  Enahnce your travel experience  - end-->
			<DIV style="clear:both; font-size:0px; line-height:0px; height:0px"></DIV>
			  
		
	  	
		<!-- content keys end -->
		
	</DIV>
<!-- hotel links end -->	

				<!--  hotels ends here. -->
				<!--  Book Hold Instructions start here. -->
				

	   

	



<!--DYNAMIC MESSAGE-->





 
	<div style="margin-bottom: 10px;padding: 5px 10px 0px 10px;background:#FFFFFF;"><BR></div>



<div style="height: 20px;">
<a target="_top" href="http://www.united.com" title="United">
<img width="144" height="15" border="0" alt="United Airlines" src="http://www.united.com/ual/asset/us-ualogo2.gif"/></a>
</div>
<!--  TM - SURVEY           -->
<link rel="stylesheet" type="text/css" href="https://www.united.com/ual/asset/surveyprintstyle.css" media="print">
<link rel="stylesheet" type="text/css" href="https://www.united.com/ual/asset/surveyscreenstyle.css" media="screen">

<div id="popupbox"> 
</div>

<SCRIPT LANGUAGE="JavaScript" SRC="https://www.united.com/ual/asset/surveycontrollerforhttps.js"></SCRIPT> 
<script>
var webAnalyticsPageTitle1 = document.title;//stay clear of webanalytics page title variable

surveycontrollerforhttps();
</script>
<!--  TM - END SURVEY           -->

<!-- BEGIN SLOGANS -->

<br/>
<div class="fN"><img alt="united.com" src="https://www.united.com/ual/asset/unitedlogo.GIF" /> 

<p>Thank you for booking at united.com where you'll always enjoy:</p>

<ul>
<li>United's guaranteed lowest fares <a href="http://www.united.com/lowfare" target="_blank">Learn more</a></li>

<li>No booking fees</li>


</ul>
</div>
<br>
		
		
<div class="w">
<div class="ml15 _fH" style="width:511px;font:11px/15px Arial, sans-serif;margin-bottom: 5px;padding: 10px 10px 5px 10px;">
<BR><br>
<div style="font-family: Arial, Helvatica; font-size: 10px; color #000000; padding: 0px 2px 4px 4px; width: 490px;">
	Airline tickets are nontransferable.
	The name on your ticket must match the name on your government-issued photo ID presented at time of check-in.
	<span style="color: #cc0000;">You may also be asked during check-in to present the credit card used for purchase.</span>
	<br/><br/>
	Passengers traveling on United Airlines (UA) carriers are subject to United's 
	<a href="http://www.united.com/page/article/0,6722,2743,00.html">contract of carriage</a>,
	which is available for download at united.com.
	The contract of carriage governs matters such as:
	<ul style="list-style-position: outside; list-style-image: url('https://www.united.com/ual/asset/list_marker_4px.gif');">
		<li style="padding-left: 10px; padding-bottom: 1px;">
			<a href="http://www.united.com/page/article/0,6722,2131,00.html">Check-in requirements</a> for domestic and international travel,
			including information about when service may be refused;
		</li>
		<li style="padding-left: 10px; padding-bottom: 1px;">
			<a href="http://www.united.com/page/article/0,6867,2671,00.html#limitsOnLiability">Limits on liability</a> for delay, damage or loss of baggage,
			including fragile or perishable goods;
		</li>
		<li style="padding-left: 10px; padding-bottom: 1px;">
			<a href="http://www.united.com/page/article/0,6867,2671,00.html#claimsRestrictions">Claims restrictions</a>, including time periods within which
			a passenger must file a claim or bring an action against the UA Carrier;
		</li>
		<li style="padding-left: 10px; padding-bottom: 1px;">
			<a href="http://www.united.com/page/article/0,6867,2671,00.html#uaCarriersRights">The UA Carriers' rights and limits on liability for delay or failure to perform service</a>,
			including schedule changes, rerouting and substitution of alternate air carrer, aircraft or mode of travel;
		</li>
		<li style="padding-left: 10px; padding-bottom: 1px;">
			<a href="http://www.united.com/page/article/0,6867,2671,00.html#overbookingOfFlights">Rules on overbooking and reconfirmation of reservations; and</a>
		</li>
		<li style="padding-left: 10px; padding-bottom: 1px;">
			<a href="http://www.united.com/page/article/0,6867,2671,00.html#baggageInformation">Baggage policies, including carry-on allowances and size and weight restrictions for checked bags.</a>
		</li>
<li style="padding-left: 10px; padding-bottom: 1px;"><a href="http://www.united.com/contactcustomerrelations">Contact United customer relations</a> to provide comments or file a complaint about United's scheduled flight service.</li>
	</ul>
	<ul style="list-style-position: outside; list-style-image: url('https://www.united.com/ual/asset/list_marker_square_4px.gif'); position: relative; left: -28px;">
		<li>Ticket rules:
			Ticket validity is based on fare and point of origin. Refundable tickets are valid for one year from date of issue. Nonrefundable tickets are valid as issued and, for travel originating in the U.S., will lose remaining value if changes are not made prior to your originally scheduled departure time on your current ticketed travel dates. Certain fees/charges may also apply. 
		</li>
		<br/>
		<li>International travel:
			Be sure to bring a copy of your E-Ticket receipt to the airport, along with your passport and any other required travel documents. International travel information such as State Department advisories and visa information can be found through the united.com <a href="http://www.united.com/page/article/0,6722,52070,00.html">Travel Requirements</a> page.
		</li>
		<br/>
		<li>Important travel tips:
			Please visit the <a href="http://www.united.com/page/article/0,6722,1821,00.html">Traveler Guide</a> page at united.com for updated baggage policies, information about online and airport check-in, security screening procedures, flight status, airport maps, information for customers with special needs, in-flight movie schedules and more. 
		</li>
	</ul>
	<div style="border-top: 1px dashed #cccccc; width 580px; padding-bottom: 8px;"></div>
	If you would like to <a href="http://www.united.com/page/genericpage/0,,52172,00.html">view or modify your itinerary</a>, please visit
	<a href="http://www.united.com">united.com</a>, where you can also:
	<ul style="position: relative; top: -8px; list-style-position: outside; list-style-image: url('https://www.united.com/ual/asset/list_marker_4px.gif');">
		<li style="padding-left: 10px; position: relative; top: -3px;">access your <a href="https://www.ua2go.com/ci/Login.jsp?return_to=mpsummary&country=US">Mileage Plus® account</a></li>
		<li style="padding-left: 10px; position: relative; top: -3px;">check <a href="http://www.ua2go.com/flifo/FlightInput.do">flight status</a></li>
		<li style="padding-left: 10px; position: relative; top: -3px;">
			<a href="http://www.united.com/page/article/0,6722,50446,00.html">check in for your flight</a>
			(within 24 hours of departure)
		</li>
		<li style="padding-left: 10px; position: relative; top: -3px;">
			<a href="http://www.united.com/page/middlepage/1,,52070,00.html">view travel guidelines</a>
		</li>
		<li style="padding-left: 10px; position: relative; top: -3px;">and more</li>
	</ul>
</div>
<br><br>
</div>
</div>
				<!--  Book Hold Instructions ends here. -->
			</div>

