

<div style="font-family: Arial, Helvetica, sans-serif">
    
    <table width="1" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top" height="81">
                <img src="http://images.usairways.com/newEmail/gen3/templates/header_630px_yrs.gif" alt="US Airways - Your Reservation" align="top" border="0" height="81" width="630" />
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0" style="border-left: 1px solid #C0C0C0;
                    border-right: 1px solid #C0C0C0; height: auto">
                    <tr>
                        <td align="center" valign="top">
                            <table width="613" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    
											<td>
												<a title="Book travel" href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://shopping.usairways.com/Flights/AdvancedSearch.aspx?book=new%26redir=Email%26c=eml_sys_RevenueConf_00000000_bookTravel"><img src="http://images.usairways.com/newEmail/Gen3/templates/nav_book.gif" border="0" height="39" width="116" /></a>
											</td>
										
											<td>
												<a title="Travel tools" href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://www2.usairways.com/en-US/traveltools/default.html?redir=Email%26c=eml_sys_RevenueConf_00000000_travelTools"><img src="http://images.usairways.com/newEmail/Gen3/templates/nav_tools.gif" border="0" height="39" width="111" /></a>
											</td>
										
											<td>
												<a title="Dividend Miles" href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://www2.usairways.com/en-US/dividendmiles/default.html?redir=Email%26c=eml_sys_RevenueConf_00000000_DividendMiles"><img src="http://images.usairways.com/newEmail/Gen3/templates/nav_dm.gif" border="0" height="39" width="125" /></a>
											</td>
										
											<td>
												<a title="Specials" href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://www2.usairways.com/en-US/specials/default.html?redir=Email%26c=eml_sys_RevenueConf_00000000_specials"><img src="http://images.usairways.com/newEmail/Gen3/templates/nav_sp.gif" border="0" height="39" width="96" /></a>
											</td>
										
											<td>
												<a title="US Airways Vacations" href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://www.usairwaysvacations.com/?redir=Email%26c=eml_sys_RevenueConf_00000000_vacations"><img src="http://images.usairways.com/newEmail/Gen3/templates/nav_usv.gif" border="0" height="39" width="165" /></a>
											</td>
										
                                </tr>
                            </table>
                            <table width="600" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" valign="top" style="padding: 13px 0 0 0; margin: 0">
                                        <h1 style="font: bold 18px Arial, Helvetica, sans-serif; color: #C67F00; margin: 0;
                                            padding: 0">
                                            Confirmation code:
                                            &nbsp;
                                            D8PCDR
                                        </h1>
                                        <p style="font: normal 11px Arial, Helvetica, sans-serif; color: #333333; margin: 0 0 13px 0;
                                            padding: 0">
                                            Date issued:
                                            &nbsp;
                                            Wednesday, February 02, 2011
                                        </p>
                                       <table id="alerts1_table44" width="360" border="0" cellspacing="0" cellpadding="0" style="font: normal 11px Arial, Helvetica, sans-serif;
    color: #333333;">
	<tr id="alerts1_tr5">
		<td align="left" valign="top" width="16">
            <img src="http://images.usairways.com/newEmail/Gen3/templates/info.gif" border="0" height="16" width="16" style="margin: 0; padding: 0; border:0" />
        </td>
		<td align="left">
            <ul style="font: normal 11px Arial, Helvetica, sans-serif; color: #333333; list-style-image: url(http://images.usairways.com/newEmail/Gen3/templates/disc_blue.gif);
                margin-top: 0px; margin-bottom: 0px;">
                
                        <li style="margin: 0">
                            <a href="http://www2.usairways.com/en-US/traveltools/baggage/baggagepolicies.html?redir=Email&c=eml_sys_RevenueConf_00000000_NewBaggagePolicies"  target="_blank" style="font: normal 11px Arial, Helvetica, sans-serif; color:#24427C;">New baggage policy</a>
                        </li>
                    
            </ul>
        </td>
	</tr>
</table>


                                       
                                    </td>
                                    <td align="right" width="225" valign="top" style="padding: 13px 0 0 10px; margin: 0">
                                        <img src="http://shopping.usairways.com/Shared/BarCode.ashx?codeText=6KbWSzzGEXMJmoPeH7ncfw%3d%3d&rotate=False&symbology=Code128" id="BarcodeImage" alt="Barcode" border="0" longdesc="" />
                                        <p style="font: normal 11px Arial, Helvetica, sans-serif; color: #333; padding-right: 3px; margin: 0">
                                            Scan at any US Airways kiosk to check in.</p>
                                        
                                    </td>
                                </tr>
                            </table>
                            

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding-left: 15px;">
            <p style="font: bold 14px Arial, Helvetica, sans-serif; color: #24427C; padding: 0;
                margin: 20px 0 13px;">
                Passengers
            </p>
        </td>
    </tr>
    <tr align="left" valign="middle" bgcolor="#ECF4F8" style="font: bold 11px Arial, Helvetica, sans-serif;
        color: #277DB2; height: 40px;">
        <td width="160">
            <p style="margin: 0 5px 0 12px">
                Passenger name
            </p>
        </td>
        <td width="160">
            <p style="margin-right: 5px">
                Frequent flyer # (Airline)
            </p>
        </td>
        <td width="126">
            <p style="margin-right: 5px">
                Ticket number
            </p>
        </td>
        <td width="180">
            <p style="margin-right: 5px">
                Special needs
            </p>
        </td>
    </tr>
    
            <tr style="font: normal 11px Arial, Helvetica, sans-serif; color: #333333; height: 43px">
                <td align="left" valign="middle" style="padding-left: 12px; border-bottom: 1px solid #C0C0C0">
                    <Span Class="traveler_name">YOUR NAME</Span>
                </td>
                <td align="left" valign="middle" style="border-bottom: 1px solid #C0C0C0">
                    03146432920&nbsp;<font
                            color="#277DB2"><span id="passengerInformation1_PassengerRepeater_ctl00_Label1">(UA)</span></font>
                    
                    &nbsp;
                </td>
                <td align="left" valign="middle" style="border-bottom: 1px solid #C0C0C0">
                    03724186349214&nbsp;
                </td>
                <td align="left" valign="middle" style="border-bottom: 1px solid #C0C0C0">
                    
                    &nbsp;
                </td>
            </tr>
        
            <tr style="font: normal 11px Arial, Helvetica, sans-serif; background-color: #F0EFEB;
                color: #333333; height: 43px">
                <td align="left" valign="middle" style="padding-left: 12px; border-bottom: 1px solid #C0C0C0">
                    Elsa Patricia Yoshimoto
                </td>
                <td align="left" valign="middle" style="border-bottom: 1px solid #C0C0C0">
                    
                    &nbsp;
                </td>
                <td align="left" valign="middle" style="border-bottom: 1px solid #C0C0C0">
                    03724186349225&nbsp;
                </td>
                <td align="left" valign="middle" style="border-bottom: 1px solid #C0C0C0">
                    
                    &nbsp;
                </td>
            </tr>
        
</table>

                            <table width="88%" border="0" cellpadding="0" cellspacing="0" style="padding: 25px 0 25px 0;
                                margin: 0;">
                                <tr>
                                    <td width="50%" align="left" valign="top">
                                        <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://ad.doubleclick.net/jump/usair.g3.emails/confirmation;pos=topleft;sz=234x60;ord=135603566.251511"><img src="http://ad.doubleclick.net/ad/usair.g3.emails/confirmation;pos=topleft;sz=234x60;ord=135603566.251511" height="60" width="234" border="0" /></a>
                                    </td>
                                    <td width="50%" align="right" valign="top">
                                        <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://ad.doubleclick.net/jump/usair.g3.emails/confirmation;pos=topright;sz=234x60;ord=135603566.251511"><img src="http://ad.doubleclick.net/ad/usair.g3.emails/confirmation;pos=topright;sz=234x60;ord=135603566.251511" height="60" width="234" border="0" /></a>
                                    </td>
                                </tr>
                            </table>
                            

<table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding: 0 0 25px 0;
    margin: 0;">
    <tr>
        <td colspan="20" valign=top>
            <table border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                    <td  valign=top align="left" style="font: bold 14px Arial, Helvetica, sans-serif; color: #24427C;
                        padding: 0 15px 20px 12px;">
                        Trip details
                    </td>
                    <td   valign=top width="25" align="left">
                        <img src="http://images.usairways.com/newEmail/Gen3/templates/arrow_blu_down.gif" align="absmiddle" border="0" height="15" width="15" />
                    </td>
                    <td  valign=top width="130" align="left" style="font: normal 11px Arial, Helvetica, sans-serif;
                        color: #24427C; margin: 0; padding: 0">
                        <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=https%3a%2f%2freservations.usairways.com%2fd2o%2fDefault.aspx%3fpnr%3dD8PCDR%26DeptDate%3d20110412" style="color: #24427C">Download to Outlook</a>
                    </td>
                    <td  valign=top width="19" align="left">
                        
                    </td>
                    <td  valign=top width="87" align="left" style="font: normal 11px Arial, Helvetica, sans-serif;
                        color: #24427C; margin: 0; padding: 0;">
                        
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    
            <tr style="padding: 0 0 3px 0; margin: 0;">
                <td colspan="5" align="left" valign="top" height="22" style="font: normal 13px Arial, Helvetica, sans-serif;
                    padding: 0 0 0 12px">
                    <p>
                        <font id="tripDetails1_SliceRepeater_ctl00_DepartLabelSpan" style="color: #C67F00">
                            Depart:
                        </font>&nbsp; <font style="color: #277DB2">
                            San Francisco, CA&nbsp;
                            (SFO)
                            <img src="http://images.usairways.com/newEmail/Gen3/templates/icon_CircleArrow.gif" align="absmiddle" border="0" height="18" width="28" />
                            Barcelona, Spain&nbsp;
                            (BCN)
                        </font>
                    </p>
                </td>
                <td colspan="3" align="left" valign="top">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="white-space: nowrap; padding-bottom: 5px;">
                                <div style="margin: 5px 0 0 12px; font: normal 11px Arial, Helvetica, sans-serif;
                                    color: #333333; padding: 0;">
                                    <strong>
                                        Date:
                                    </strong>&nbsp;Tuesday, April 12, 2011
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap;">
                                <div style="margin: 0px 0 5px 12px; font: normal 11px Arial, Helvetica, sans-serif;
                                    color: #c67f00; padding: 0;">
                                    <strong><font style="color: #333333;">
                                        Status:
                                    </font>&nbsp;Active
                                    </strong>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr align="left" valign="middle" bgcolor="#ECF4F8" style="font: bold 11px Arial, Helvetica, sans-serif;
                color: #277DB2; height: 40px;">
                <td width="109" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin: 0 5px 0 12px">
                        Flight #/ Carrier
                    </p>
                </td>
                <td width="90" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Depart
                    </p>
                </td>
                <td width="90" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Arrive
                    </p>
                </td>
                <td width="70" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Travel time
                    </p>
                </td>
                <td width="78" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Meal
                    </p>
                </td>
                <td width="78" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Aircraft
                    </p>
                </td>
                <td width="59" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Cabin
                    </p>
                </td>
                <td width="52" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Seats
                    </p>
                </td>
            </tr>
            
                    <tr style="font: normal 11px Arial, Helvetica, sans-serif; color: #333333; height: 45px;">
                        <td align="left" valign="middle">
                            <p style="margin: 0 5px 0 12px">
                                <strong><font color="#24427C">
                                    964</font></strong>
                                &nbsp;&nbsp;<img src="https://content.usairways.com/en-US/Resources/images/icons/airline/usflag_wifi.gif" id="tripDetails1_SliceRepeater_ctl00_SegmentRepeater_ctl00_AircraftImage" border="0" /></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                08:25 AM&nbsp;
                                <font style="color: #227db2;">
                                    SFO</font></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                04:47 PM&nbsp;
                                <font style="color: #227db2;">
                                    PHL</font></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                5h 22m</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&u=https://www2.usairways.com/en-US/traveltools/intheair/foodandbeverages/maincabin.html" id="tripDetails1_SliceRepeater_ctl00_SegmentRepeater_ctl00_MealLink" style="color: #24427c;">
                                    In-flight Caf&#233;</a>
                                
                            </p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                A321</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                Coach</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                
                                        
                                                18D 
                                            
                                                18F 
                                            
                                    
                            </p>
                        </td>
                    </tr>
                
                    <tr>
                        <td colspan="8" align="left" valign="middle" style="padding-left: 40px;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font: normal 11px Arial, Helvetica, sans-serif;
                                color: #333333; height: 10px;">
                                <tr>
                                    <td>
                                        <font id="tripDetails1_SliceRepeater_ctl00_SegmentRepeater_ctl01_StopChangeSeparator" style="font: 9px normal Arial, Helvetica, sans-serif;
                                            color: #277DB2">
                                            Stop: Change plane in Philadelphia, PA
                                            &nbsp; (PHL)
                                        </font>
                                    </td>
                                    <td width="350" align="right">
                                        <img src="http://images.usairways.com/newEmail/Gen3/templates/dotted_changeplane.gif" border="0" height="7" width="350" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                
                    <tr style="font: normal 11px Arial, Helvetica, sans-serif; color: #333333; height: 45px;">
                        <td align="left" valign="middle">
                            <p style="margin: 0 5px 0 12px">
                                <strong><font color="#24427C">
                                    742</font></strong>
                                &nbsp;&nbsp;<img src="https://content.usairways.com/en-US/Resources/images/icons/airline/usflag.gif" id="tripDetails1_SliceRepeater_ctl00_SegmentRepeater_ctl02_AircraftImage" border="0" /></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                06:20 PM&nbsp;
                                <font style="color: #227db2;">
                                    PHL</font></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                08:25 AM&nbsp;
                                <font style="color: #227db2;">
                                    BCN</font></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                8h 5m</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                
                                Dinner
                            </p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                767</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                Coach</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                
                                        
                                                18F 
                                            
                                                18G 
                                            
                                    
                            </p>
                        </td>
                    </tr>
                
            
                <tr>
                    <td align="left" valign="top" style="padding: 0px 10px 0px 15px; border-top: 1px dashed #c0c0c0;"
                        colspan="8">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="16" valign="top">
                                    <img src="http://images.usairways.com/newEmail/Gen3/templates/exclamation_red.gif" border="0" style="margin: 0; padding: 0; border:0" />
                                </td>
                                <td align="left" valign="top">
                                    
                                            <ul style="font: normal 11px Arial, Helvetica, sans-serif; line-height: 18px; margin-top: 0px;
                                                margin-bottom: 0px; color: #333333; list-style-image: url(http://images.usairways.com/newEmail/Gen3/templates/disc_red.gif);">
                                        
                                            <li style="padding: 0; margin: 0">
                                                Flight # 742 : Arrives next day, Wednesday, April 13, 2011</li>
                                        
                                            </ul>
                                        
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            
            <tr>
                <td colspan="15" style="padding: 0 0 8px 0; margin: 0;">
                    &nbsp;
                </td>
            </tr>
        
            <tr style="padding: 0 0 3px 0; margin: 0;">
                <td colspan="5" align="left" valign="top" height="22" style="font: normal 13px Arial, Helvetica, sans-serif;
                    padding: 0 0 0 12px">
                    <p>
                        <font id="tripDetails1_SliceRepeater_ctl01_ReturnLabelSpan" style="color: #C67F00; padding: 0 0 15px 0;">
                            Return:
                        </font>&nbsp; <font style="color: #277DB2">
                            Barcelona, Spain&nbsp;
                            (BCN)
                            <img src="http://images.usairways.com/newEmail/Gen3/templates/icon_CircleArrow.gif" align="absmiddle" border="0" height="18" width="28" />
                            San Francisco, CA&nbsp;
                            (SFO)
                        </font>
                    </p>
                </td>
                <td colspan="3" align="left" valign="top">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="white-space: nowrap; padding-bottom: 5px;">
                                <div style="margin: 5px 0 0 12px; font: normal 11px Arial, Helvetica, sans-serif;
                                    color: #333333; padding: 0;">
                                    <strong>
                                        Date:
                                    </strong>&nbsp;Wednesday, April 27, 2011
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap;">
                                <div style="margin: 0px 0 5px 12px; font: normal 11px Arial, Helvetica, sans-serif;
                                    color: #c67f00; padding: 0;">
                                    <strong><font style="color: #333333;">
                                        Status:
                                    </font>&nbsp;Active
                                    </strong>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr align="left" valign="middle" bgcolor="#ECF4F8" style="font: bold 11px Arial, Helvetica, sans-serif;
                color: #277DB2; height: 40px;">
                <td width="109" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin: 0 5px 0 12px">
                        Flight #/ Carrier
                    </p>
                </td>
                <td width="90" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Depart
                    </p>
                </td>
                <td width="90" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Arrive
                    </p>
                </td>
                <td width="70" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Travel time
                    </p>
                </td>
                <td width="78" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Meal
                    </p>
                </td>
                <td width="78" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Aircraft
                    </p>
                </td>
                <td width="59" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Cabin
                    </p>
                </td>
                <td width="52" align="left" style="padding-top: 5px; padding-bottom: 5px">
                    <p style="margin-right: 5px">
                        Seats
                    </p>
                </td>
            </tr>
            
                    <tr style="font: normal 11px Arial, Helvetica, sans-serif; color: #333333; height: 45px;">
                        <td align="left" valign="middle">
                            <p style="margin: 0 5px 0 12px">
                                <strong><font color="#24427C">
                                    743</font></strong>
                                &nbsp;&nbsp;<img src="https://content.usairways.com/en-US/Resources/images/icons/airline/usflag.gif" id="tripDetails1_SliceRepeater_ctl01_SegmentRepeater_ctl00_AircraftImage" border="0" /></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                10:45 AM&nbsp;
                                <font style="color: #227db2;">
                                    BCN</font></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                01:50 PM&nbsp;
                                <font style="color: #227db2;">
                                    PHL</font></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                9h 5m</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                
                                Lunch
                            </p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                767</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                Coach</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                
                                        
                                                20F 
                                            
                                                20G 
                                            
                                    
                            </p>
                        </td>
                    </tr>
                
                    <tr>
                        <td colspan="8" align="left" valign="middle" style="padding-left: 40px;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font: normal 11px Arial, Helvetica, sans-serif;
                                color: #333333; height: 10px;">
                                <tr>
                                    <td>
                                        <font id="tripDetails1_SliceRepeater_ctl01_SegmentRepeater_ctl01_StopChangeSeparator" style="font: 9px normal Arial, Helvetica, sans-serif;
                                            color: #277DB2">
                                            Stop: Change plane in Philadelphia, PA
                                            &nbsp; (PHL)
                                        </font>
                                    </td>
                                    <td width="350" align="right">
                                        <img src="http://images.usairways.com/newEmail/Gen3/templates/dotted_changeplane.gif" border="0" height="7" width="350" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                
                    <tr style="font: normal 11px Arial, Helvetica, sans-serif; color: #333333; height: 45px;">
                        <td align="left" valign="middle">
                            <p style="margin: 0 5px 0 12px">
                                <strong><font color="#24427C">
                                    469</font></strong>
                                &nbsp;&nbsp;<img src="https://content.usairways.com/en-US/Resources/images/icons/airline/usflag.gif" id="tripDetails1_SliceRepeater_ctl01_SegmentRepeater_ctl02_AircraftImage" border="0" /></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                03:55 PM&nbsp;
                                <font style="color: #227db2;">
                                    PHL</font></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                09:02 PM&nbsp;
                                <font style="color: #227db2;">
                                    SFO</font></p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                8h 7m</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&u=https://www2.usairways.com/en-US/traveltools/intheair/foodandbeverages/maincabin.html" id="tripDetails1_SliceRepeater_ctl01_SegmentRepeater_ctl02_MealLink" style="color: #24427c;">
                                    In-flight Caf&#233;</a>
                                
                            </p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                A320</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                Coach</p>
                        </td>
                        <td align="left" valign="middle">
                            <p style="margin-right: 5px">
                                
                                        
                                                20D 
                                            
                                                20F 
                                            
                                    
                            </p>
                        </td>
                    </tr>
                
            
                <tr>
                    <td align="left" valign="top" style="padding: 0px 10px 0px 15px; border-top: 1px dashed #c0c0c0;"
                        colspan="8">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="16" valign="top">
                                    <img src="http://images.usairways.com/newEmail/Gen3/templates/exclamation_red.gif" border="0" style="margin: 0; padding: 0; border:0" />
                                </td>
                                <td align="left" valign="top">
                                    
                                            <ul style="font: normal 11px Arial, Helvetica, sans-serif; line-height: 18px; margin-top: 0px;
                                                margin-bottom: 0px; color: #333333; list-style-image: url(http://images.usairways.com/newEmail/Gen3/templates/disc_red.gif);">
                                        
                                            <li style="padding: 0; margin: 0">
                                                Flight # 469 : Stops in LAS: No plane change required</li>
                                        
                                            </ul>
                                        
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            
            <tr>
                <td colspan="15" style="padding: 0 0 8px 0; margin: 0;">
                    &nbsp;
                </td>
            </tr>
        
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top: 1px solid #c0c0c0;
    padding-bottom: 10px;">
    
            <tr>
                
                        <td width="50%" height="40" align="left" valign="middle" style="padding: 0 0 0 35px;">
                            <font style="font: 11px normal Arial, Helvetica, sans-serif; padding: 0 10px 0 0">
                                <img src="https://content.usairways.com/en-US/Resources/images/icons/airline/usflag.gif" id="tripDetails1_AirlineKeyRepeater_ctl00_CarrierRepeater_ctl00_AirlineKeyImage" border="0" />&nbsp;
                                US Airways
                            </font>
                        </td>
                    
                        <td width="50%" height="40" align="left" valign="middle" style="padding: 0 0 0 35px;">
                            <font style="font: 11px normal Arial, Helvetica, sans-serif; padding: 0 10px 0 0">
                                <img src="https://content.usairways.com/en-US/Resources/images/icons/wifi.gif" id="tripDetails1_AirlineKeyRepeater_ctl00_CarrierRepeater_ctl01_AirlineKeyImage" border="0" />&nbsp;
                                <table cellpadding=0 cellspacing=0 border=0><tr><td align="left"><div class="bold">US Airways</div>Flight operated by US Airways<div class="padtopxsm"></div><span class="wifisrvcmsg"><b>Wi-Fi on board (<span class="green">$</span>)</b><br>Provided by Gogo&trade; Inflight Internet</span></td></tr></table>
                            </font>
                        </td>
                    
            </tr>
        
</table>

                            <br />
                            <table width="96%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center">
                                        <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://ad.doubleclick.net/jump/usair.g3.emails/confirmation;pos=first;sz=190x100;ord=135603566.251511"><img src="http://ad.doubleclick.net/ad/usair.g3.emails/confirmation;pos=first;sz=190x100;ord=135603566.251511" height="100" width="190" border="0" /></a>
                                    </td>
                                    <td align="center">
                                        <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://ad.doubleclick.net/jump/usair.g3.emails/confirmation;pos=second;sz=190x100;ord=135603566.251511"><img src="http://ad.doubleclick.net/ad/usair.g3.emails/confirmation;pos=second;sz=190x100;ord=135603566.251511" height="100" width="190" border="0" /></a>
                                    </td>
                                    <td align="center">
                                        <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://ad.doubleclick.net/jump/usair.g3.emails/confirmation;pos=third;sz=190x100;ord=135603566.251511"><img src="http://ad.doubleclick.net/ad/usair.g3.emails/confirmation;pos=third;sz=190x100;ord=135603566.251511" height="100" width="190" border="0" /></a>
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <table width="95%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="58%" align="left" valign="top">
                                        <table width="88%" border="0" cellspacing="0" cellpadding="0" style="font: normal 11px Arial, Helvetica, sans-serif;
                                            color: #333333;">
                                            <tr>
                                                <td height="30" colspan="3" align="left" valign="top">
                                                    <p style="font: normal 14px Arial, Helvetica, sans-serif; color: #24427C; margin: 0;
                                                        padding: 0;">
                                                        Total travel cost (2 passengers)
                                                    </p>
                                                </td>
                                            </tr>
                                            
													<tr>
														<td align="left">
															
															2 Adults
														</td>
														<td align="right" style="padding-right: 10px">
															&nbsp;$1,414.00&nbsp;
														</td>
														<td></td>
													</tr>
												
													<tr>
														<td align="left">
															<a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&u=http://www2.usairways.com/en-US/traveltools/specialneeds/ticketingpolicies/taxesfees.html" id="FaresRepeater_ctl01_FareLink" style="color: #24427C;">
																Taxes + fees
															</a>
															
														</td>
														<td align="right" style="padding-right: 10px">
															&nbsp;$176.00&nbsp;
														</td>
														<td></td>
													</tr>
												
													<tr>
														<td height="30" colspan="3" align="left" valign="middle">
															<hr size="1" noshade color="#C0C0C0">
														</td>
													</tr>
													<tr>
														<td height="22" align="left">
															<strong>Fare total</strong>
														</td>
														<td align="right" style="padding-right: 10px">
														
														<strong>$1,590.00</strong></td>
														<td align="left"><font style="color: #227db2;">Non-refundable</font></td>
													</tr>
													<tr>
														<td height="30" colspan="3" align="left" valign="middle">
															<hr size="1" noshade color="#C0C0C0">
														</td>
													</tr>
												
											
                                              
											
											 
											
											
                                            <tr valign="top" style="font: bold 13px Arial, Helvetica, sans-serif; color: #227db2">
                                                <td align="left">
                                                    Total
                                                </td>
                                                <td height="35" align="right" style="padding-right: 10px">
                                                    $1,590.00
                                                </td>
                                                <td style="padding-right: 10px">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td height="30" colspan="3" align="left" valign="middle">
                                                    <hr size="1" noshade color="#C0C0C0">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" align="left">
                                                    <table cellspacing="0" cellpadding="0" width="100%" style="font: normal 11px Arial, Helvetica, sans-serif;
                                                        color: #333333;">
                                                        <tr>
                                                            <td valign="top" align="left" width="20">
                                                                <img src="http://images.usairways.com/newEmail/Gen3/templates/drop_arrow.gif" align="left" border="0" height="10" width="13" />
                                                            </td>
                                                            <td>
                                                                Charged to Elsa Yoshimoto
                                                                <br />
                                                                ***********5018 (American Express)
                                                            </td>
                                                        </tr>
                                                          <tr>
                                                            <td colspan="2">
                                                               &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    
                                                    
                                                    
                                                    <p>
                                                        
                                                    </p>
                                                </td>
                                            </tr>
                                              <tr>
                                                <td height="30" colspan="3" align="left" valign="middle">
                                                    <hr size="1" noshade color="#C0C0C0">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="left" valign="top" style="color: #24427C;">
                                        <p style="font: normal 14px Arial, Helvetica, sans-serif; margin: 0; padding: 0;">
                                            Helpful links
                                        </p>
                                        <br />
                                        <p style="font: normal 11px/18pt Arial, Helvetica, sans-serif; margin: 0; padding: 0;">
                                            
                                            <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=https://reservations.usairways.com/YourReservation.aspx" style="color: #24427C;">Manage your reservation</a><br />
                                            
													<a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://membership.usairways.com/Create/AccountInformation.aspx?redir=Email%26c=eml_sys_RevenueConf_00000000_HelpfulLinksJoinDM" style="color: #24427C;">Join Dividend Miles</a>
												<br />
													<a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://www2.usairways.com/en-US/traveltools/checkin/airportcheckin/airportterminals.html?redir=Email%26c=eml_sys_RevenueConf_00000000_HelpfulLinksAirportInfo" style="color: #24427C;">Airport information</a>
												<br />
													<a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://www2.usairways.com/en-US/traveltools/baggage/baggagepolicies.html?redir=Email%26c=eml_sys_RevenueConf_00000000_HelpfulLinksBaggagePolicies" style="color: #24427C;">Baggage policies</a>
												<br />
													<a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://www.tsa.gov/" style="color: #24427C;">TSA regulations</a>
												<br />
													<a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://www2.usairways.com/en-US/traveltools/checkin/airportcheckin/airportcheckintimes.html?redir=Email%26c=eml_sys_RedemptionConf_00000000_HelpfulLinksExitRowKiosk" style="color: #24427C;">Seated in an exit row? Read about checking in.</a>
												
                                            <br />
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <table width="87%" border="0" cellpadding="0" cellspacing="0" style="padding: 25px 0 25px 0;
                                margin: 0;">
                                <tr>
                                    <td width="50%" align="left" valign="top">
                                        <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://ad.doubleclick.net/jump/usair.g3.emails/confirmation;pos=bottomleft;sz=234x60;ord=135603566.251511"><img src="http://ad.doubleclick.net/ad/usair.g3.emails/confirmation;pos=bottomleft;sz=234x60;ord=135603566.251511" height="60" width="234" border="0" /></a>
                                    </td>
                                    <td width="50%" align="right" valign="top">
                                        <a href="http://www2.usairways.com/linktracker/Link.ashx?e=28158006&amp;u=http://ad.doubleclick.net/jump/usair.g3.emails/confirmation;pos=bottomright;sz=234x60;ord=135603566.251511"><img src="http://ad.doubleclick.net/ad/usair.g3.emails/confirmation;pos=bottomright;sz=234x60;ord=135603566.251511" height="60" width="234" border="0" /></a>
                                    </td>
                                </tr>
                            </table>
                            

<table width="95%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="left" valign="top">
            <p style="font:bold 14px Arial, Helvetica, sans-serif; color:#24427C; margin:0; padding: 15px 0 0 0">
                Terms &amp; conditions
            </p>
            <div style="margin: -5px;">
                
                        <ul style="font:normal 11px Arial, Helvetica, sans-serif; color:#333333">
                    
                        <li>Ticket is non-transferable.</li>
                    
                        <li>Ticket is non-refundable.
	<li>Unused tickets must be cancelled on the date of departure to retain value.</li></li>
                    
                        <li>Any change to this reservation, including flights, dates, or cities, 
    is subject to a fee per passenger (according to the rules of the original fare). 
    The new itinerary will be priced at the lowest available published fare at the time of change, 
    which may result in a fare increase.</li>
                    
                        <li>Customers traveling to international destinations can review our
<a href="http://www.usairways.com/en-US/traveltools/specialneeds/ticketingpolicies/international.html" target="_blank">International Travel Advisements</a>
 for information regarding required documentation and baggage limitations.</li>
                    
                        <li>Ticket expires one year from original date of issue. Unflown value expires one year from original date of issue.</li>
                    
                        <li><a href="http://www.usairways.com/en-US/traveltools/baggage/baggagepolicies.html" target="_blank">Checked baggage fees may apply</a>.</li>
                    
                        <li>Air transportation on US Airways is subject to the US Airways Contract of Carriage. <a href="http://www.usairways.com/en-US/resources/_downloads/aboutus/US_contract_of_carriage.pdf" target="_blank">View this document</a> in PDF format.</li>
                    
                        <li>Security regulations may require us to disclose to government agencies the data you provide to us in connection with this reservation.</li>
                    
                        <li>Changes to the country of origin are not permitted, except for changes between the United States and U.S. territories.</li>
                    
                        <li><a href="http://www.usairways.com/en-US/contact/customer_relations.html" target="_blank">Send</a> US your compliments and/or complaints.</li>
                    
                        </ul>
                    
            </div>
        </td>
    </tr>
</table>

                        </td>
                    </tr>
                    <tr>
                        <td align="right" valign="top" style="padding: 10px 0;">
                            <img src="http://images.usairways.com/newEmail/gen3/templates/star_alliance.gif" border="0" />
                            <br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://images.usairways.com/newEmail/gen3/templates/efooter.gif" border="0" height="61" width="630" />
            </td>
        </tr>
        <tr>
            <td>
                <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <p style="color: #828181">
                                <font style="font: normal 10px Arial, Helvetica, sans-serif">
                                    <br />We are committed to protecting your privacy. Your information is kept private and confidential.
For information about our privacy policy visit <a href="http://www2.usairways.com/en-US/privacy.html?redir=Email&c=eml_sys_RevenueConf_00000000_privacy" target="_blank" style="color: #24427C">usairways.com</a>.

Please do not reply to this email, it is not monitored. If you'd like to contact us, please visit our website.
                                </font>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <img src="http://www2.usairways.com/linktracker/Image.ashx?e=28158006" height="0" width="0" border="0" />
</div>
<input id="Diagnostic" type="hidden" value="+Qv7B2lBV/q5P8besEvOgv0Ck8egmOkYgc2lEUgYm6Z8ztGGMAKla3dnOaGu/HJT"></input>
